<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">

	<Appenders>

		<RollingFile name="debug-out" fileName="${log4j:configParentLocation}/../../../../logs/debug.log"
			filePattern="${log4j:configParentLocation}/../../../../logs/backups/debug/$${date:yyyy-MM}/debug-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss} %c %L - %m%n" />
			<SizeBasedTriggeringPolicy size="1024KB" />
			<DefaultRolloverStrategy max="200" />
			<Filters>
				<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</RollingFile>

		<RollingFile name="info-out" fileName="${log4j:configParentLocation}/../../../../logs/info.log"
			filePattern="${log4j:configParentLocation}/../../../../logs/backups/info/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss} %c %L - %m%n" />
			<SizeBasedTriggeringPolicy size="10240KB" />
			<DefaultRolloverStrategy max="200" />
			<Filters>
				<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</RollingFile>

		<RollingFile name="warn-out" fileName="${log4j:configParentLocation}/../../../../logs/warn.log"
			filePattern="${log4j:configParentLocation}/../../../../logs/backups/warn/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss} %c %L - %m%n" />
			<SizeBasedTriggeringPolicy size="10240KB" />
			<DefaultRolloverStrategy max="200" />
			<Filters>
				<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</RollingFile>

		<RollingFile name="error-out" fileName="${log4j:configParentLocation}/../../../../logs/error.log"
			filePattern="${log4j:configParentLocation}/../../../../logs/backups/error/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss} %c %L - %m%n" />
			<SizeBasedTriggeringPolicy size="10240KB" />
			<DefaultRolloverStrategy max="200" />
			<Filters>
				<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</RollingFile>

	</Appenders>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="debug-out" />
			<AppenderRef ref="info-out" />
			<AppenderRef ref="warn-out" />
			<AppenderRef ref="error-out" />
		</Root>


		<logger name="org.eclipse.jetty" level="WARN" />

		<Logger name="org.springframework.data.redis.core.RedisConnectionUtils" level="INFO" />

		<Logger name="com.alibaba.dubbo.monitor.dubbo.DubboMonitor" level="WARN" />
		<Logger name="org.apache.zookeeper.ZooKeeper" level="WARN" />

	</Loggers>

</Configuration>